<div class="jumbotron">
  {{#if equipoNuevo }}
  <h1 class="display-4">Tu equipo fue creado con exito!</h1>
  {{else}}
    <h1 class="display-4">Tu equipo fue editado con exito!</h1>
  {{/if}}
  <a class="btn btn-dark btn-lg" href="/" role="button">volver al home</a>
  <a class="btn btn-dark btn-lg" href="/ver/{{index}}" role="button">ver equipo</a>
</div>