<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Equipo<a type="button" href="/agregar/equipo" class="btn btn-secondary btn-sm" style="margin-left: 3%;">Agregar equipo +</a></th>
      <th scope="col">Pais</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  {{>listaEquipos equipos=data.equipos}}
</table>
